name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build APK
        uses: darkshredder/website-to-apk-action@v2.1.0
        with:
          app-name: "MyGame"
          build-folder-path: "." 

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyGame-APK
          path: apk/
