name: Build APK
on: [push, workflow_dispatch]

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Website to APK
        uses: khaledattya/website-to-apk@v1.0.0
        with:
          url: "https://google.com"
          name: "MyGame"
