name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Build APK (Silent Mode)
        run: |
          # The 'yes |' forces a 'Y' answer to any prompt
          yes | bubblewrap init --manifest="https://cmakshith.github.io/WIP/manifest.json"
          
          # This builds the project without asking for passwords
          bubblewrap build --skipSigning

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyGame-APK
          path: "*.apk"
